.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.f-navigation-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 48px;
  background-color: #160042;
  outline-color: transparent;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.f-navigation-button:hover {
  background-color: #282556;
}

.f-navigation-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 8px;
}

.f-navigation-link {
  padding: 8px 24px;
  border-radius: 50px;
  background-color: transparent;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #160042;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.01em;
  text-decoration: none;
  white-space: nowrap;
}

.f-navigation-link:hover {
  background-color: #f3f5fb;
  color: #160042;
}

.f-navigation-link.w--current {
  color: #642eff;
}

.f-navigation-menu {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 6px;
}

.f-logo {
  width: 124px;
}

.f-navigation-link-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 24px;
}

.f-navigation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.f-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 88px;
  padding: 24px 5%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.f-avatar-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.f-avatar-large {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 72px;
  height: 72px;
  min-height: 72px;
  min-width: 72px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: #f3f5fb;
}

.f-button-secondary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  padding: 12px 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #e4e6f1;
  border-radius: 50px;
  background-color: #fff;
  -webkit-transition: border-color 300ms ease, background-color 300ms ease;
  transition: border-color 300ms ease, background-color 300ms ease;
  color: #160042;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.f-button-secondary:hover {
  border-color: transparent;
  background-color: #f3f5fb;
}

.f-button-neutral {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  padding: 12px 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #160042;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.f-button-neutral:hover {
  background-color: #282556;
}

.f-header-button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.f-paragraph-large {
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.02em;
}

.f-margin-bottom-32 {
  margin-bottom: 32px;
}

.f-h1-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #160042;
  font-size: 64px;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.f-margin-bottom-24 {
  margin-bottom: 24px;
}

.f-heading-detail-small {
  color: #6b7094;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.f-margin-bottom-08 {
  margin-bottom: 8px;
}

.f-image-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.f-header-image-wrapper-tall {
  overflow: hidden;
  width: 100%;
  height: 630px;
  max-width: 500px;
  border-radius: 12px;
}

.f-header-grid {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.f-container-regular {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.f-section-large {
  position: relative;
  padding: 92px 5%;
}

.video {
  overflow: visible;
  margin-right: auto;
  margin-left: auto;
}

.f-paragraph-small {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: -0.01em;
}

.f-icon-regular {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

.f-pricing-feature-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 12px;
}

.f-pricing-feature-list {
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.f-pricing-badge {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 70%;
  padding: 8px 10px 8px 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #642eff;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.f-pricing-badge-wrapper {
  position: absolute;
  left: 0%;
  top: -14px;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.f-line-regular {
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: #e4e6f1;
}

.f-heading-detail-regular {
  color: #6b7094;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  white-space: normal;
}

.f-pricing-plan-type {
  text-align: center;
}

.f-pricing-line {
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: #e4e6f1;
}

.f-pricing-month-span {
  margin-left: 4px;
  color: #b6b9ce;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.f-h3-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #160042;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.f-pricing-centre {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.f-pricing-featured-card {
  position: relative;
  height: 100%;
  padding: 40px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 34px 34px 140px -48px rgba(57, 59, 106, 0.08);
}

.f-pricing-card-outline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: #e4e6f1;
  border-radius: 16px;
}

.f-pricing-column-basic {
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.f-margin-bottom-12 {
  margin-bottom: 12px;
}

.f-text-weight-bold {
  font-weight: 700;
}

.f-pricing-title-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.f-margin-bottom-56 {
  margin-bottom: 56px;
}

.f-container-x-small {
  position: relative;
  width: 100%;
  max-width: 840px;
  margin-right: auto;
  margin-left: auto;
}

.uui-text-size-small {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #475467;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: normal;
}

.uui-testimonial13_client-heading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #101828;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: normal;
}

.uui-testimonial13_customer-image {
  width: 3rem;
  height: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  border-radius: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.uui-testimonial13_client-image-wrapper {
  margin-right: 0.75rem;
}

.uui-testimonial13_client {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.uui-heading-xxsmall {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #101828;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: normal;
}

.uui-heading-xxsmall.text-weight-medium {
  font-weight: 500;
}

.uui-testimonial13_rating-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.25rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fec84b;
}

.uui-testimonial13_rating-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.uui-testimonial13_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: #f9fafb;
  border-radius: 1rem;
  background-color: #f9fafb;
}

.uui-testimonial13_component {
  display: -ms-grid;
  display: grid;
  margin-top: 4rem;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.uui-text-size-large {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #475467;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: normal;
}

.uui-space-xsmall {
  width: 100%;
  min-height: 1rem;
}

.uui-heading-medium {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #101828;
  font-size: 2.25rem;
  line-height: 1.3;
  font-weight: 600;
}

.uui-max-width-large {
  width: 100%;
  max-width: 48rem;
}

.uui-max-width-large.align-center {
  margin-right: auto;
  margin-left: auto;
}

.align-center {
  margin-right: auto;
  margin-left: auto;
}

.uui-text-align-center {
  text-align: center;
}

.uui-padding-vertical-xhuge {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.uui-container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.uui-page-padding {
  padding-right: 2rem;
  padding-left: 2rem;
}

.uui-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  padding: 0.625rem 1.125rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0.5rem;
  border: 1px solid #7f56d9;
  border-radius: 0.5rem;
  background-color: #003263;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.uui-button:hover {
  border-color: #6941c6;
  background-color: #003263;
}

.uui-button:focus {
  background-color: #003263;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px #f4ebff;
}

.uui-text-size-medium {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #475467;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: normal;
}

.uui-icon-1x1-xsmall {
  width: 1.5rem;
  height: 1.5rem;
}

.uui-pricing05_feature-icon-wrapper {
  margin-right: 0.75rem;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.uui-pricing05_feature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.uui-pricing05_feature-list {
  display: -ms-grid;
  display: grid;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.uui-text-weight-semibold {
  font-weight: 600;
}

.uui-pricing05_divider {
  width: 100%;
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #eaecf0;
}

.uui-pricing05_price-text {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #101828;
  font-size: 1.875rem;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: 0em;
}

.uui-pricing05_price {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #101828;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
}

.uui-pricing05_heading {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #6941c6;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: normal;
}

.uui-icon-featured-outline-large {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0.5rem solid #f9f5ff;
  border-radius: 100%;
  background-color: #f4ebff;
  color: #7f56d9;
}

.uui-icon-featured-outline-large.align-center {
  margin-right: auto;
  margin-left: auto;
}

.uui-pricing05_icon-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.uui-pricing05_content-top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.uui-pricing05_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.uui-pricing05_plan {
  position: relative;
  padding: 2rem;
  border-style: solid;
  border-width: 1px;
  border-color: #eaecf0;
  border-radius: 1rem;
  box-shadow: 0 12px 16px -4px rgba(0, 0, 0, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.03);
}

.uui-badge {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.125rem 0.625rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0.375rem;
  border-radius: 10rem;
  background-color: #f2f4f7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #344054;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
}

.uui-badge.is-primary {
  background-color: #f9f5ff;
  color: #6941c6;
}

.uui-pricing05_popular-label {
  position: absolute;
  left: auto;
  top: 2rem;
  right: 2rem;
  bottom: auto;
}

.uui-pricing05_component {
  margin-top: 4rem;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.uui-heading-subheading {
  margin-bottom: 0.75rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #7f56d9;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
}

.uui-pricing10_icon-wrapper {
  margin-right: 0.75rem;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.uui-pricing10_feature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.uui-pricing10_feature-list {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.uui-pricing10_divider {
  width: 100%;
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #eaecf0;
}

.uui-space-medium {
  width: 100%;
  min-height: 2rem;
}

.uui-pricing10_price-text {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #101828;
  font-size: 1.875rem;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: 0em;
}

.uui-pricing10_price {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #101828;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
}

.uui-space-xxsmall {
  width: 100%;
  min-height: 0.5rem;
}

.uui-heading-xsmall-time-label {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #101828;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0em;
}

.uui-heading-xsmall-time-label.time-label {
  margin-bottom: 0rem;
  padding-bottom: 1rem;
}

.uui-heading-xsmall-time-label.time-label-copy {
  margin-bottom: 0rem;
  padding-bottom: 1rem;
}

.uui-pricing10_plan {
  padding: 2rem;
  border-style: solid;
  border-width: 1px;
  border-color: #eaecf0;
  border-radius: 1rem;
  box-shadow: 0 12px 16px -4px rgba(0, 0, 0, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.03);
}

.uui-pricing10_plan-name-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.uui-pricing10_components {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.uui-pricing10_tabs-content {
  overflow: visible;
}

.uui-pricing10_tab-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  border-radius: 0.375rem;
  background-color: transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #667085;
  font-weight: 600;
}

.uui-pricing10_tab-link.w--current {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(16, 24, 40, 0.1), 0 1px 2px 0 rgba(16, 24, 40, 0.06);
  color: #344054;
}

.uui-pricing10_tabs-menu {
  display: -ms-grid;
  display: grid;
  margin-bottom: 3rem;
  padding: 0.375rem;
  -ms-grid-row-align: center;
  align-self: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr -webkit-max-content;
  -ms-grid-columns: 1fr max-content;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #f2f4f7;
  border-radius: 0.5rem;
  background-color: #f9fafb;
}

.uui-pricing10_component {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.uui-heroheader04_image {
  position: absolute;
  display: block;
  width: 76rem;
  min-width: 76rem;
}

.uui-heroheader04_image-wrapper {
  position: relative;
  height: 100%;
  min-height: 44.375rem;
}

.uui-button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.625rem 1.125rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0.5rem;
  border: 1px solid #7f56d9;
  border-radius: 0.5rem;
  background-color: #7f56d9;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.uui-button-2:hover {
  border-color: #6941c6;
  background-color: #6941c6;
}

.uui-button-2:focus {
  background-color: #7f56d9;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px #f4ebff;
}

.uui-button-2.is-button-large {
  padding: 1rem 1.75rem;
  grid-column-gap: 0.75rem;
  font-size: 1.125rem;
}

.uui-button-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.uui-button-icon.is-icon-large {
  width: 1.5rem;
  height: 1.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
}

.uui-button-secondary-gray {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.625rem 1.125rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: #d0d5dd;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #344054;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.uui-button-secondary-gray:hover {
  background-color: #f9fafb;
  color: #1d2939;
}

.uui-button-secondary-gray:focus {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px #f2f4f7;
}

.uui-button-secondary-gray.is-button-large {
  padding: 1rem 1.75rem;
  grid-column-gap: 0.75rem;
  font-size: 1.125rem;
}

.uui-button-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}

.uui-space-large {
  width: 100%;
  min-height: 3rem;
}

.uui-text-size-xlarge {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #475467;
  font-size: 1.25rem;
  line-height: 1.5;
}

.uui-max-width-medium {
  width: 100%;
  max-width: 35rem;
}

.uui-space-small {
  width: 100%;
  min-height: 1.5rem;
}

.uui-heading-xlarge {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #101828;
  font-size: 3.75rem;
  line-height: 1.2;
  font-weight: 600;
}

.uui-badge-group_icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1rem;
  height: 1rem;
  margin-left: 0.25rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.uui-badge-group_icon.text-color-primary500 {
  margin-right: -0.25rem;
  color: #9e77ed;
}

.badge-group_text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.uui-badge-group_badge {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.125rem 0.625rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #344054;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 500;
  white-space: nowrap;
}

.uui-badge-group_badge.is-primary {
  background-color: #fff;
  color: #6941c6;
}

.uui-badge-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.25rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10rem;
  background-color: #f2f4f7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #344054;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 500;
  white-space: nowrap;
  mix-blend-mode: multiply;
}

.uui-badge-group.is-primary {
  background-color: #f9f5ff;
  color: #6941c6;
  text-decoration: none;
  white-space: nowrap;
}

.uui-heroheader04_component {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.uui-section_heroheader04 {
  overflow: hidden;
}

.time-label {
  padding-bottom: 33px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.75rem;
  text-align: center;
}

.time-label.tablet {
  display: none;
}

.uui-text-style-link-02 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #6941c6;
  font-weight: 600;
  text-decoration: none;
}

.uui-contact11_item {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.uui-contact11_component {
  display: -ms-grid;
  display: grid;
  margin-top: 4rem;
  justify-items: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .f-navigation-menu-button {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #f3f5fb;
    border-radius: 8px;
    color: #393b6a;
  }

  .f-navigation-menu-button.w--open {
    border-color: #fff;
    background-color: #160042;
  }

  .f-navigation-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .f-navigation-link {
    width: 100%;
  }

  .f-navigation-menu {
    position: absolute;
    padding: 12px;
    background-color: #fff;
    color: #393b6a;
  }

  .f-navigation-menu.w--open {
    border-color: #fff;
    background-color: #282556;
  }

  .f-navigation-logo-link {
    margin-right: 0px;
  }

  .f-navigation {
    position: relative;
  }

  .f-paragraph-large {
    text-align: center;
  }

  .f-header-image-wrapper-tall {
    height: 360px;
    max-width: none;
  }

  .f-header-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .f-section-large {
    padding-top: 25px;
  }

  .f-pricing-column-basic {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .uui-testimonial13_component {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .uui-padding-vertical-xhuge {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .uui-pricing05_component {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .uui-pricing10_plan {
    margin-bottom: 2rem;
  }

  .uui-pricing10_components {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .uui-heroheader04_image {
    position: static;
    width: 100%;
    min-width: auto;
  }

  .uui-heroheader04_image-wrapper {
    height: auto;
    min-height: auto;
  }

  .uui-space-large {
    min-height: 2.5rem;
  }

  .uui-heading-xlarge {
    font-size: 3.25rem;
  }

  .uui-heroheader04_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .uui-heroheader04_component {
    min-height: auto;
    grid-auto-flow: row;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .time-label {
    display: block;
  }

  .time-label.tablet {
    display: block;
    margin-top: 24px;
  }

  .time-label.desktop {
    display: none;
  }

  .uui-contact11_component {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 767px) {
  .f-h1-heading {
    margin-top: 0px;
    font-size: 48px;
  }

  .f-header-image-wrapper-tall {
    height: 400px;
  }

  .f-section-large {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .f-h3-heading {
    font-size: 40px;
  }

  .uui-testimonial13_client-image-wrapper {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }

  .uui-testimonial13_client {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .uui-heading-xxsmall {
    font-size: 1.125rem;
  }

  .uui-testimonial13_content {
    padding: 1.5rem;
  }

  .uui-testimonial13_component {
    margin-top: 3rem;
    grid-row-gap: 1.5rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .uui-text-size-large {
    font-size: 1rem;
  }

  .uui-space-xsmall {
    min-height: 0.75rem;
  }

  .uui-heading-medium {
    font-size: 1.75rem;
    line-height: 1.4;
  }

  .uui-padding-vertical-xhuge {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .uui-page-padding {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .uui-button {
    font-size: 1rem;
  }

  .uui-button:hover {
    border-color: #7f56d9;
    background-color: #7f56d9;
  }

  .uui-pricing05_feature-list {
    margin-bottom: 2rem;
  }

  .uui-pricing05_price-text {
    font-size: 1.5rem;
  }

  .uui-pricing05_price {
    font-size: 2.25rem;
  }

  .uui-pricing05_heading {
    font-size: 1.125rem;
  }

  .uui-pricing05_plan {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .uui-badge {
    padding: 0.125rem 0.5rem;
  }

  .uui-pricing05_popular-label {
    right: 1.5rem;
  }

  .uui-pricing05_component {
    margin-top: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .uui-space-medium {
    min-height: 1.5rem;
  }

  .uui-pricing10_price-text {
    font-size: 1.5rem;
  }

  .uui-pricing10_price {
    font-size: 2.25rem;
  }

  .uui-heading-xsmall-time-label {
    font-size: 1.25rem;
  }

  .uui-pricing10_plan {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .uui-pricing10_components {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .uui-pricing10_tabs-menu {
    margin-bottom: 2rem;
  }

  .uui-pricing10_component {
    margin-top: 2rem;
  }

  .uui-button-2 {
    font-size: 1rem;
  }

  .uui-button-2:hover {
    border-color: #7f56d9;
    background-color: #7f56d9;
  }

  .uui-button-2.is-button-large {
    padding: 0.75rem 1.25rem;
    grid-column-gap: 0.5rem;
    font-size: 1rem;
  }

  .uui-button-wrapper.max-width-full-mobile-landscape {
    width: 100%;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .uui-button-icon.is-icon-large {
    width: 1.25rem;
    height: 1.25rem;
  }

  .uui-button-secondary-gray {
    padding-left: 1.25rem;
    font-size: 1rem;
  }

  .uui-button-secondary-gray:hover {
    background-color: #fff;
    color: #344054;
  }

  .uui-button-secondary-gray.is-button-large {
    padding: 0.75rem 1.25rem;
    grid-column-gap: 0.5rem;
    font-size: 1rem;
  }

  .uui-button-row {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .uui-button-row.is-reverse-mobile-landscape {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .uui-button-row.button-row-center-mobile-landscape {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .uui-space-large {
    min-height: 2rem;
  }

  .uui-text-size-xlarge {
    font-size: 1.125rem;
  }

  .uui-space-small {
    min-height: 1.25rem;
  }

  .uui-heading-xlarge {
    font-size: 2.25rem;
  }

  .uui-badge-group_badge {
    padding: 0.125rem 0.5rem;
    font-size: 0.75rem;
  }

  .uui-badge-group {
    font-size: 0.75rem;
  }

  .uui-heroheader04_content {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    text-align: center;
  }

  .uui-contact11_component {
    margin-top: 3rem;
    grid-row-gap: 2.5rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .f-navigation-button {
    display: none;
  }

  .f-pricing-card-outline {
    padding: 32px;
  }

  .uui-badge.hide-mobile-portrait {
    display: none;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .uui-heroheader04_component {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

#w-node-db9a70cf-07b5-e881-e37b-d2f0495f2548-a43de414 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_67f7a695-447d-5791-54db-8a59e1448c27-a43de414 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_19ddb54c-4c92-8244-dea6-9f16475ed9a9-a43de414 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_14c15f5d-5916-103c-20a7-d95e52f5668b-a43de414 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_544b2f55-fb4a-8035-a89c-c11d5555e2d6-a43de414 {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }

  #w-node-_19ddb54c-4c92-8244-dea6-9f16475ed9a9-a43de414 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_14c15f5d-5916-103c-20a7-d95e52f5668b-a43de414 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

